<div class="active-box" >
    <div class="info">
        <button class="dragButton" ng-show="draggable"></button>
        <p>{{box.type | boxType}}</p>
    </div>
    <div class="options">
        <button class="btn btn-danger btn-shadow glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteBox()"></button>
        <button class="btn btn-warning btn-shadow glyphicon glyphicon-pencil" aria-hidden="true"
              bs-modal="modal" data-template="templates/editBox.html"></button>
        <div class="btn btn-primary btn-shadow glyphicon glyphicon-fullscreen" aria-hidden="true" ><div expended class="expendable"></div></div>
        <button class="btn btn-info btn-shadow glyphicon glyphicon-resize-small" aria-hidden="true" ng-click="collapseBox()" ng-show="resize"></button>
    </div>
</div>
