<div class="active-box" ng-class="{'red-box':box.overlap}" >
    <div class="dragButton" ng-show="draggable" ng-class="{press: isPress}" ng-mousedown="isPress = true" ng-mouseup="isPress = false"></div>
    <div class="content">
        <div class="info" >
            <p>{{box.typeId | boxType}}</p>
        </div>
        <div class="options">
            <div class="glyphicon-btn glyphicon glyphicon-remove animate-delete" aria-hidden="true" ng-click="deleteBox(box.id)"></div>
            <div class="glyphicon-btn glyphicon glyphicon-pencil animate-wiggle" aria-hidden="true"
                  bs-modal="modal" data-template="templates/editBox.html"></div>
            <div class="glyphicon-btn glyphicon glyphicon-fullscreen animate-pluse-fade-out" aria-hidden="true" ><div expended class="expendable"></div></div>
            <div class="glyphicon-btn glyphicon glyphicon-resize-small animate-minus-fade-out" aria-hidden="true" ng-click="collapseBox(box.id)" ng-show="collapse"></div>
        </div>
    </div>
</div>
