
.workspace-form{
    direction: rtl;
    margin-right: 20px;
}

.long-input{
    width: 400px !important;
}
.in-input{
    margin-right: -30px;
}
.controlPanel{
    background: linear-gradient(#eee ,#88b);
    border: solid 1px #ccc;
    padding: 5px 5px;
}
.workspace{
    position: absolute;
    margin-top: 2px;
}

.box{
    position: absolute;
    margin: 1px;
}
.fullBox, .inactive-box, .active-box{
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}
.active-box {
    background-color: #88b;
    text-align: right;
    font-size: 1.5em;
    color: #fff;
    padding: 1px;
}
.active-box > .content{
    padding: 10px;
    height: inherit;
}
.active-box > .content > .info{
    display:inline-block;
    float:right;
}
.active-box > .content > .options{
    float: left;
    display:inline-block;
}
.inactive-box{
    background: linear-gradient(135deg, #eee,#ccd );
}
.inactive-box:hover, .on-drag-hover > .inactive-box{
    background: linear-gradient(315deg, #eee,#ccd );
}

.add-icon{
    font-size: 4em;
    top: 40%;
    left: 42%;
    cursor: pointer;
    color: #ccd;
}
.inactive-box:hover > .add-icon{
    font-size:4.5em;
    top: 38%;
    left: 40%;
    color: #88b;
}

.modal  {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 120%;

  -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.modal-title{
    color: #000000;
}
.modal-dialog{
    position: inherit;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-content {
    text-align:right;
}
.modal-footer {
    text-align:left;
}


.left-close{
    float: left;
}

.animate-show {
    line-height: 34px;
    opacity: 1;
}


.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
}
.expendable {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    position: absolute;
    margin-top: -30px;
    margin-left: -12px;
    z-index: 1000;
}
.wsStatus{
    background: linear-gradient(0deg, #ddd, #ccd);
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 15px;
    overflow: auto;
}
.wsStatus > p{
    text-decoration: underline;
    font-size: 1.5em;
}
.wsStatus > dl > dt{
     float: right;
     width: 160px;
     clear: right;
 }
.wsStatus > dl > dd{
    float: right;
    height: 20px;
}

.iframe{
    height: 100%;
}
#cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}
.dragButton{
    height: 20px;
    width: 100%;
    border-radius: 0.2em;
    border: solid 0.5px;
    box-shadow: 0px 1px 1px #333;
    background: linear-gradient(0deg, #99b, #fff);
    cursor: -webkit-grab;
}
.press{
    cursor: -webkit-grabbing;
    background: linear-gradient(0deg, #fff, #99b);
}
.btn-shadow, body.nohover .glyphicon-btn:hover{
    box-shadow: 0px 0px 5px #555;
    margin: 0px 2px;
}
body.nohover .glyphicon-btn:hover{
    background-color:#fff;
    color:#88b;
}
.glyphicon-btn{
    display: block;
    padding:6px 12px;
    border-radius: 0.2em;
    border: solid 1px #88b;
}
.on-drag-hover {
    border: solid 5px #88b;
    border-radius: 0.2em;
    box-shadow: -5px -5px 20px #99b;
}
body.nohover .active-box:hover{
    box-shadow: -5px -5px 20px #99b;
    font-size:1.8em;
}
body.nohover .active-box:hover > .dragButton{
    height:25px;
}


