.theme-option{
    width: 10% !important;
    float:left;
}
.controlPanel{
    padding: 5px 5px;
}
.workspace{
    position: absolute;
    margin-top: 2px;
}
.workspace-form{
    direction: rtl;
    margin-right: 20px;
}
.long-input{
    width: 400px !important;
}
.in-input{
    margin-right: -30px;
}

.box{
    position: absolute;
    margin: 1px;
}
.fullBox, .inactive-box, .active-box{
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}

.add-icon{
    font-size: 4em;
    top: 40%;
    left: 42%;
    cursor: pointer;
}
.inactive-box:hover > .add-icon{
    font-size:4.5em;
    top: 38%;
    left: 40%;
}
.active-box {
    text-align: right;
    font-size: 1.5em;
    padding: 1px;
}
.active-box > .content{
    padding: 10px;
    height: 90%;
}
.active-box > .content > .info{
    display:inline-block;
    float:right;
}
.active-box > .content > .options{
    float: left;
    display:inline-block;
    opacity:0;
}
.red-box{
    background: rgba(255,0,0,.5) !important;
    cursor: not-allowed;
}
.modal  {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 120%;

  -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.modal-dialog{
    position: inherit;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-content {
    text-align:right;
}
.modal-footer {
    text-align:left;
}
.left{
    float: left;
}

.animate-show {
    line-height: 34px;
    opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
}

.wsStatus{
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 15px;
    overflow: auto;
}
.wsStatus > p{
    text-decoration: underline;
    font-size: 1.5em;
}
.wsStatus > dl > dt{
     float: right;
     width: 160px;
     clear: right;
 }
.wsStatus > dl > dd{
    float: right;
    height: 20px;
}

.iframe{
    height: 100%;
}
#cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

.expendable {
    z-index: 20;
    opacity: 0.5;
    width: 1px;
    height: 1px;
    position: absolute;
}
.topBox{
    z-index: 30;
}
.dragButton{
    height: 20px;
    width: 100%;
    border-radius: 0.2em;
    border: solid 0.5px;
    cursor: -webkit-grab;
}
.press{
    cursor: -webkit-grabbing;
}

.glyphicon-btn{
    padding:6px 12px;
}

.nohover .glyphicon-btn:hover,.btn-shadow{
    margin: 0px 2px;
}

.nohover .glyphicon-btn:hover,.on-drag-hover{
    border-radius: 0.2em;
}
.nohover .active-box:hover{
    font-size:1.8em;
}
.nohover .active-box:hover > .dragButton{
    height:25px;
}
.nohover .box:hover{
    z-index:10;
}

.cesium{
    height: inherit;
}

.flipper{
    transform: perspective(1000px) rotateY(180deg);
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
}
.flipper-leave{
    transform: perspective(1000px) rotateY(0deg);
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
	/*z-index: 2;*/
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}