//////////////////////////////////////////////////////
// CONSTANTS

@box: #ccd;
@strongBox: #88b;
@boxTitle: #fff;
@strongTitle: #224;
@boxGradient: #eee;
@modalTitle: #333;
@shadow: #333;
@wsStatusGradient: #ddd;
@dragButtonGradient: #fff;
@dragButton: #99b;
@dragBoxShadow:#99b;
@numberOfThemes: 3; //controls theme loop

//////////////////////////////////////////////////////
// MIXINS

//Theme Definitions by parametric mixin numbers (1), (2), etc.
.themeDefs(1) {
  @box: #ccd;
  @strongBox: #88b;
  @boxTitle: #eee;
  @strongTitle: #224;
  @boxGradient: #eee;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #ddd;
  @dragButtonGradient: #ddd;
  @dragButton: #99b;
  @dragBoxShadow:#99b;
}

.themeDefs(2) {
  //inverse of 1
  @box: #ccc;
  @strongBox: #aaa;
  @boxTitle: #ffe;
  @strongTitle: #224;
  @boxGradient: #ffe;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #eed;
  @dragButtonGradient: #ffe;
  @dragButton: #bbb;
  @dragBoxShadow:#bbb;
}

.themeDefs(3) {
  @box: #8fbfdf;
  @strongBox: #47a;
  @boxTitle: #ffe;
  @strongTitle: #446;
  @boxGradient: #eee;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #cfdfef;
  @dragButtonGradient: #eee;
  @dragButton: #47a;
  @dragBoxShadow:#47a;
}


//////////////////////////////////////////////////////
// GENERAL STYLING

.theme-option{
  width: 10% !important;
  float:left;
}
.control-panel{
  padding: 5px 5px;
}
.workspace{
  position: absolute;
  margin-top: 2px;
}
.workspace-form{
  direction: rtl;
  margin-right: 20px;
}
.long-input{
  width: 400px !important;
}
.in-input{
  margin-right: -30px;
}

.box{
  position: absolute;
  margin: 1px;
}
.full-box{
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
}

.add-icon{
  font-size: 4em;
  top: 40%;
  left: 42%;
  cursor: pointer;
}
.inactive-box{
  .full-box;
  .inactive-box:hover{
    .add-icon {
      font-size:4.5em;
      top: 38%;
      left: 40%;
    }
  }

}

.active-box {
  .full-box;
  text-align: right;
  font-size: 1.5em;
  padding: 1px;
  .content{
    padding: 10px;
    height: 90%;
    .info{
      display:inline-block;
      float:right;
    }
    .options{
      float: left;
      display:inline-block;
      opacity:0;
    }
  }
}

.red-box{
  background: rgba(255,0,0,.5) !important;
  cursor: not-allowed;
}
.modal  {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 120%;

  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.modal-dialog{
  position: inherit;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0,0,0,.7);
}

.modal-content {
  text-align:right;
}
.modal-footer {
  text-align:left;
}
.left{
  float: left;
}

.animate-show {
  line-height: 34px;
  opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}

.ws-status{
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 15px;
  overflow: auto;
  p{
    text-decoration: underline;
    font-size: 1.5em;
  }
  dl{
    dt{
      float: right;
      width: 160px;
      clear: right;
    }
    dd{
      float: right;
      height: 20px;
    }
  }
}

.iframe{
  height: 100%;
}

.expendable {
  z-index: 20;
  opacity: 0.5;
  width: 1px;
  height: 1px;
  position: absolute;
}
.top-box{
  z-index: 30;
}
.drag-button{
  height: 20px;
  width: 100%;
  border-radius: 0.2em;
  border: solid 0.5px;
  cursor: -webkit-grab;
}
.press{
  cursor: -webkit-grabbing;
}

.glyphicon-btn{
  padding:6px 12px;
}

.btn-shadow{
  margin: 0px 2px;
}

.on-drag-hover{
  border-radius: 0.2em;
}
.nohover{
  .glyphicon-btn:hover{
    .btn-shadow;
    .on-drag-hover;
  }
  .active-box:hover{
    font-size:1.8em;
    .dragButton{
      height:25px;
    }
  }
  .box:hover{
    z-index:10;
  }
}

.cesium{
  height: inherit;
}

.flipper{
  transform: perspective(1000px) rotateY(180deg);
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
}
.flipper-leave{
  transform: perspective(1000px) rotateY(0deg);
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
}

/* hide back of pane during swap */
.flip-side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  .flip-side;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  .flip-side;
  transform: rotateY(180deg);
}
//////////////////////////////////////////////////////
// ANIMATION STYLING

@-webkit-keyframes pulse {
    0% { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    100% { transform: scale(0.9); }
}
@-webkit-keyframes lightSpeedIn {
   0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
    60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
    80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
    100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}
@-webkit-keyframes pluseFadeOut {
    0% {opacity: 1;  transform: scale(0.8);}
    100% {opacity: 0;  transform: scale(1.5);}
}
@-webkit-keyframes minusFadeOut {
    0% {opacity: 1;  transform: scale(1.2);}
    100% {opacity: 0;  transform: scale(0.4);}
}
@-webkit-keyframes wiggle {
    0% { -webkit-transform: skewX(9deg); }
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(7deg); }
    30% { -webkit-transform: skewX(-6deg); }
    40% { -webkit-transform: skewX(5deg); }
    50% { -webkit-transform: skewX(-4deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); }
}

//////////////////////////////////////////////////////
// THEME BUILDING

.buildThemes(@index) when (@index < @numberOfThemes + 1) {

  .theme-@{index}-color {
          .themeDefs(@index);
          background-color: @box;
  }
  .theme-@{index} {
      .themeDefs(@index); 
      
      .control-panel{
            background: linear-gradient(@boxGradient ,@strongBox);
            color: @strongTitle;
        }
        .active-box {
            background: linear-gradient(0deg, @wsStatusGradient 75%,@box);
            color: @boxTitle;
            .onselect{
                color:@strongTitle;
                opacity:1 !important;
            }
        }
        .inactive-box{
            background: @boxGradient;
            &:hover{
                border:solid 2px @box;
                box-shadow: -5px -5px 20px @dragBoxShadow;
                .add-icon{
                    color: @strongBox;
                    -webkit-animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    -webkit-animation-timing-function: linear;
                    -webkit-animation-iteration-count:infinite;
                    -webkit-animation-name: pulse;
                }
            }
        }
        .on-drag-hover {
            box-shadow: -5px -5px 20px @dragBoxShadow;
            .inactive-box{
                background: linear-gradient(0deg, @boxGradient,@box );
            }
        }
        .add-icon{
            color: @box;
        }
        .modal-title{
            color: @modalTitle;
        }
        .ws-status{
            background: linear-gradient(0deg, @wsStatusGradient,@box);
        }
        .drag-button{
            box-shadow: 0px 1px 1px @shadow;
            background: linear-gradient(180deg, @dragButtonGradient,@strongBox);
        }
        .press{
            background: linear-gradient(0deg, @dragButtonGradient,@strongBox);
        }
        .expendable {
            background-color:@strongBox;
        }
        .btn-shadow{
            box-shadow: 0px 0px 5px @shadow;
        }

        .nohover{
            .glyphicon-btn:hover{
                color:@boxTitle;
             }
             .animate-pluse-fade-out:hover{
                -webkit-animation-name: pluseFadeOut;
                -webkit-animation-duration: 0.8s;
                -webkit-animation-fill-mode: both;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count:infinite;
            }
            .animate-minus-fade-out:hover{
                -webkit-animation-name: minusFadeOut;
                -webkit-animation-duration: 0.8s;
                -webkit-animation-fill-mode: both;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count:infinite;
            }
            .animate-wiggle:hover{
                -webkit-animation-duration: 0.8s;
                -webkit-animation-fill-mode: both;
                -webkit-animation-timing-function: linear;
                -webkit-animation-name: wiggle;
                -webkit-animation-iteration-count:infinite;
            }
            .animate-delete:hover{
                -webkit-animation-name: pulse;
                -webkit-animation-duration: .8s;
                -webkit-animation-fill-mode: both;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count:infinite;
                color:red;
            }
            .active-box:hover{
                box-shadow: -5px -5px 20px @dragBoxShadow;
                color: @strongTitle;
                .options{
                    -webkit-animation-duration: 0.5s;
                    -webkit-animation-fill-mode: both;
                    -webkit-animation-timing-function: linear;
                    -webkit-animation-name: lightSpeedIn;
                }
            }
        }
    }
    .buildThemes(@index + 1);
}
//stop loop
.buildThemes(@index) {}
//start theme building loop
.buildThemes(1);