//////////////////////////////////////////////////////
// CONSTANTS

@box: #ccd;
@strongBox: #88b;
@boxTitle: #fff;
@strongTitle: #224;
@boxGradient: #eee;
@modalTitle: #333;
@shadow: #333;
@wsStatusGradient: #ddd;
@dragButtonGradient: #fff;
@dragButton: #99b;
@dragBoxShadow:#99b;
@numberOfThemes: 3; //controls theme loop

//////////////////////////////////////////////////////
// MIXINS

//Theme Definitions by parametric mixin numbers (1), (2), etc.
.themeDefs(1) {
  @box: #ccd;
  @strongBox: #88b;
  @boxTitle: #eee;
  @strongTitle: #224;
  @boxGradient: #eee;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #ddd;
  @dragButtonGradient: #ddd;
  @dragButton: #99b;
  @dragBoxShadow:#99b;
}

.themeDefs(2) {
  //inverse of 1
  @box: #ccc;
  @strongBox: #aaa;
  @boxTitle: #ffe;
  @strongTitle: #224;
  @boxGradient: #ffe;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #eed;
  @dragButtonGradient: #ffe;
  @dragButton: #bbb;
  @dragBoxShadow:#bbb;
}

.themeDefs(3) {
  @box: #8fbfdf;
  @strongBox: #47a;
  @boxTitle: #ffe;
  @strongTitle: #446;
  @boxGradient: #eee;
  @modalTitle: #333;
  @shadow: #333;
  @wsStatusGradient: #cfdfef;
  @dragButtonGradient: #eee;
  @dragButton: #47a;
  @dragBoxShadow:#47a;
}


//////////////////////////////////////////////////////
// GENERAL STYLING


//////////////////////////////////////////////////////
// THEME BUILDING

.buildThemes(@index) when (@index < @numberOfThemes + 1) {

  .theme-@{index}-color {
          .themeDefs(@index);
          background-color: @box;
  }
  .theme-@{index} {
      .themeDefs(@index); 
      
      .controlPanel{
            background: linear-gradient(@boxGradient ,@strongBox);
            color: @strongTitle;
        }
        .active-box {
            background: linear-gradient(0deg, @wsStatusGradient 75%,@box);
            color: @boxTitle;
        }
        .inactive-box{
            background: linear-gradient(0deg, @boxGradient 90%,@box );
            &:hover{
                background: linear-gradient(180deg, @boxGradient 90%,@strongBox );
                .add-icon{
                    color: @strongBox;
                }
            }
        }
        .on-drag-hover {
            box-shadow: -5px -5px 20px @dragBoxShadow;
            .inactive-box{
                background: linear-gradient(0deg, @boxGradient,@box );
            }
        }
        .add-icon{
            color: @box;
        }
        .modal-title{
            color: @modalTitle;
        }
        .wsStatus{
            background: linear-gradient(0deg, @wsStatusGradient,@box);
        }
        .dragButton{
            box-shadow: 0px 1px 1px @shadow;
            background: linear-gradient(180deg, @dragButtonGradient,@strongBox);
        }
        .press{
            background: linear-gradient(0deg, @dragButtonGradient,@strongBox);
        }
        .expendable {
            background-color:@strongBox;
        }
        .btn-shadow{
            box-shadow: 0px 0px 5px @shadow;
        }
        .nohover{
            .glyphicon-btn:hover{
                color:@boxTitle;
            }
            .active-box:hover{
                box-shadow: -5px -5px 20px @dragBoxShadow;
                color: @strongTitle;
            }
        }
    }
    .buildThemes(@index + 1);
}
//stop loop
.buildThemes(@index) {}
//start theme building loop
.buildThemes(1);